body {
    background-color: #F0F8FF;
    margin-top: 50px;
    font-family: 'Lato';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}

.headertodo {
    text-align: center;
    color: #A3C1AD;
}

header {
    background-color: rgb(24, 100, 94);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

footer {
    background-color: rgb(24, 100, 94);
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: auto;
}
